/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.table-well {
  background-color: rgb(255, 255, 255);
}

.greenLight {
  display: inline-block;
  background-color: rgb(0, 255, 0);
  min-width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 3px 8px 3px 3px;

}

.redLight {
  display: inline-block;
  background-color: rgb(255, 0, 0);
  min-width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 3px 8px 3px 3px;
}

.title {
  display: inline-block;
}

.stretch {
  width: 100%;
  margin-bottom: 20px;
}

.blue {
  color: rgb(0, 0, 255);
}

@media (min-width: 400px) {
  .concrete {
    width: 360px;
    margin: 0 auto;
  }
}